body {
	background: black;
	width:100vw;
	height: 100vh;
	overflow: hidden;
}
.main {
	position: absolute;
	margin: auto;
	text-align: center;
	width:100%;
	height: auto;
	left:0;
	right:0;
	top:40%;
	transform: translateY(-40%);
}
.logo {
	width:18vw;
	margin: 0 auto 25px;
}
.logo img {
	width: 100%;
	height: auto;
	transform: translateX(6%);
}
.social a span {
	font-size:25px;
	color:white;
	margin:0 15px;
}
.social a span:hover {
	color:#00B9DA;
}
.social a:nth-child(even) span:hover {
	color:#FF3300;
}
.social a:nth-child(3n+0) span:hover {
	color:#FFD100;
}
.spotify {
	width:75%;
	margin: 25px auto;
}
.spotify iframe {
	height: 130px;
}
.blue, .yellow, .red {
	width:100vw;
	height:5vw;
}
.blue.off, .yellow.off, .red.off {
	opacity: .6;
}
.blue {
	background: #00B9DA;
}
.yellow {
	background: #FFD100;
}
.red {
	background: #FF3300;
}
.left_stripes {
	position: absolute;
	left: -46vw;
    top: -1vw;
	transform: rotate(-45deg);
}
.right_stripes {
	position: absolute;
	right: -46vw;
    bottom: -1vw;
	transform:  rotate(-45deg);
}